In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
data_d4 = pd.read_json("data_d4_1.json")

,metadata,info
0,"{'dataVersion': '2', 'matchId': 'NA1_525436905...","{'endOfGameResult': 'GameComplete', 'gameCreat..."
1,"{'dataVersion': '2', 'matchId': 'NA1_525427493...","{'endOfGameResult': 'GameComplete', 'gameCreat..."
2,"{'dataVersion': '2', 'matchId': 'NA1_525425913...","{'endOfGameResult': 'GameComplete', 'gameCreat..."
3,"{'dataVersion': '2', 'matchId': 'NA1_525424894...","{'endOfGameResult': 'GameComplete', 'gameCreat..."
4,"{'dataVersion': '2', 'matchId': 'NA1_525409467...","{'endOfGameResult': 'GameComplete', 'gameCreat..."

In [12]:
df_d4 = pd.DataFrame(data_d4['info'].tolist())
df_d4.head()

,endOfGameResult,gameCreation,gameDuration,gameEndTimestamp,gameId,gameMode,gameName,gameStartTimestamp,gameType,gameVersion,mapId,participants,platformId,queueId,teams,tournamentCode
0,GameComplete,1743031008938,2135,1743033167555,5254369051,CLASSIC,teambuilder-match-5254369051,1743031031891,MATCHED_GAME,15.6.668.2516,11,"[{'PlayerScore0': 0, 'PlayerScore1': 0, 'Playe...",NA1,420,"[{'bans': [{'championId': 53, 'pickTurn': 1}, ...",
1,GameComplete,1743018056828,2416,1743020494839,5254274939,CLASSIC,teambuilder-match-5254274939,1743018078461,MATCHED_GAME,15.6.668.2516,11,"[{'PlayerScore0': 0, 'PlayerScore1': 0, 'Playe...",NA1,420,"[{'bans': [{'championId': 43, 'pickTurn': 1}, ...",
2,GameComplete,1743015586717,1306,1743016977238,5254259139,CLASSIC,teambuilder-match-5254259139,1743015671457,MATCHED_GAME,15.6.668.2516,11,"[{'PlayerScore0': 0, 'PlayerScore1': 0, 'Playe...",NA1,420,"[{'bans': [{'championId': 42, 'pickTurn': 1}, ...",
3,GameComplete,1743013608024,1615,1743015254390,5254248943,CLASSIC,teambuilder-match-5254248943,1743013639101,MATCHED_GAME,15.6.668.2516,11,"[{'PlayerScore0': 0, 'PlayerScore1': 0, 'Playe...",NA1,420,"[{'bans': [{'championId': 420, 'pickTurn': 1},...",
4,GameComplete,1742968117799,2198,1742970478497,5254094674,CLASSIC,teambuilder-match-5254094674,1742968280349,MATCHED_GAME,15.6.668.2516,11,"[{'PlayerScore0': 0, 'PlayerScore1': 0, 'Playe...",NA1,420,"[{'bans': [{'championId': 42, 'pickTurn': 1}, ...",

In [38]:
participant_data = [c for p in df_d4['participants'] for c in p[:10]]
df_participants = pd.DataFrame(participant_data)

In [ ]:
print(df_participants.shape)
# there are going to be duplicates, so we need to drop them
# how???

(40800, 145)